<div class="row"><h1>Suche</h1></div>
<form ng-submit="vm.search()" novalidate class="simple-form">
    <div class="row">
        <div class="small-2 columns">From</div>
        <div class="small-10 columns"><input type="text" ng-model="vm.searchCriteria.from"/></div>
    </div>
    <div class="row">
        <div class="small-2 columns">To</div>
        <div class="small-10 columns"><input type="text" ng-model="vm.searchCriteria.to"/></div>
    </div>
    <div class="row">
        <div class="small-2 columns">Limit</div>
        <div class="small-10 columns"><input type="text" ng-model="vm.searchCriteria.limit"/></div>
    </div>
    <div class="row">
        <div class="columns end"><input type="submit" value="suchen" /></div>
    </div>
</form>

<div ng-show="vm.spinner">
    SPINNER
</div>

<div ng-show="vm.connections">
    <div class="row"><h1>Resultat</h1></div>

    <div class="row">
        <div class="small-2 columns">From</div><div class="small-4 columns">{{vm.connections.from.name}}</div><div class="small-2 columns">To</div><div class="small-4 columns">{{vm.connections.to.name}}</div>
    </div>

    <div class="row">
        <div class="small-6 columns">Abfahrt</div><div class="small-6 columns">Ankunft</div>
    </div>
    <div ng-repeat="connection in vm.connections.connections ">
        <div class="row">
            <div class="small-6 columns">{{connection.from.departure}}</div><div class="small-6 columns">{{connection.to.arrival}}</div>
        </div>
    </div>
</div>
